@import url("../../main.css");

.navbar__content {
    display: flex;

    justify-content: space-between;
    margin: 24px 64px 12px;
}

.navbar__content__pages {
    display: flex;
    align-items: center;
    gap: 3em;

    color: var(--light-grey);
    font: var(--font-button);
}

.page svg {
    padding: 0;
    fill: var(--light-grey);
}

.sun,
.moon {
    pointer-events: none;
    fill: var(--light-grey);
    width: 24px;
    height: 24px;
}

.sun path,
.moon path {
    pointer-events: none;
}

.page {
    padding: 0.5em;
    background-color: var(--dark-grey);
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.1s ease, background-color 0.3s, color 0.3s;
}

.page:hover {
    filter: brightness(130%);
}

.page-group {
    display: flex;
    align-items: center;
    gap: 1em;
}

.theme-toggle {
    padding: 0.5em;
    background-color: var(--dark-grey);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.1s ease, background-color 0.3s, color 0.3s;
}

.theme-toggle:hover {
    filter: brightness(130%);
}