@import url("../movie-card/movie-card.css");
@import url("../rate/rate.css");

.recomendations-page__title {
    color: var(--light-grey);
    font: var(--font-title);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3dvw;
    row-gap: 1.5dvw;
    justify-content: space-between;
}