.rated-movies__title {
    color: var(--light-grey);
    font: var(--font-title);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.rated-movies__results {
    display: flex;
    flex-direction: column;
    color: var(--light-grey);
    gap: 1.5em;
}

.rated-movies__results__without {
    font: var(--font-text);
}

.rated-movies__results__film {
    padding: 2em;
    background-color: var(--grey);
    border-radius: 0.65em;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1em;
    align-items: center;
}

.rated-movies__results__film__title {
    font: var(--font-small-title);
    min-width: 0;
    overflow-wrap: break-word;
}

.rated-movies__results__film__grade {
    font: var(--font-text);
    white-space: nowrap;
}

.rated-movies__results__film__createdAt {
    font: var(--font-text);
    white-space: nowrap;
}

.rated-movies__results__film__review {
    font: var(--font-text);
    grid-column: span 3;
    margin-top: 1em;
}