@import url("variables.css");
@import url("modules/auth/auth.css");
@import url("modules/search/search.css");
@import url("modules/recomendation/recomendation.css");
@import url("modules/temp-notice/temp-notice.css");
@import url("modules/navbar/navbar.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-grey);
}

[data-page] {
    cursor: pointer;
}

.hidden {
    display: none;
}

.logo {
    font: var(--font-logo);
    color: var(--green-yellow);
}

input,
button {
    width: 100%;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}