.auth {
    display: flex;
    justify-content: space-between;
}

.auth h2 {
    font: var(--font-text);
    color: var(--light-grey);
    padding-bottom: 1.5em;
}

.logo_auth {
    font: var(--font-logo);
    color: var(--green-yellow);
    font-size: 3em;
}

.auth__block {
    width: 50dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth__image {
    width: 50dvw;
    height: 100dvh;
    mask-image: linear-gradient(90deg, #000, transparent);
}

.auth__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 1em;
    background-color: var(--grey);
    border-radius: 20px;
    height: auto;
    padding: 40px;
}

.auth__form__group {
    display: block;
    width: 100%;
    height: calc(2.5em + 2px);
    padding: 0.7em;
    font: var(--font-text);
    border: 1px solid var(--light-grey);
    border-radius: 0.65em;
    /*margin-bottom: 1.5em;*/
}

.auth__form__group input {
    color: var(--light-grey);
}

.auth__form__group input::placeholder {
    color: var(--blue-grey);
}

.auth__form__button {
    width: fit-content;
    padding: 0.75em 5em;
    font: var(--font-button);
    color: var(--light-grey);
    background-color: var(--blue-grey);
    border-radius: 0.65em;
    margin-bottom: 0.75em;
    cursor: pointer;
    transition: filter 0.1s ease;
}

.auth__form__button_sec {
    width: fit-content;
    padding: 0.3em 2.5em;
    font: var(--font-button-sec);
    color: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 0.65em;
    cursor: pointer;
    transition: all 0.1s ease;
}

.auth__form__button:hover {
    filter: brightness(130%);
}

.auth__form__button_sec:hover {
    background-color: var(--light-grey);
    color: var(--grey);
}

.no-active {
    filter: brightness(80%);
    cursor: not-allowed;
}